<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="Images/Ico.ico">
    <link rel="stylesheet" type="text/css" href="Css/style.css">
    <title>Каталог скинов</title>
</head>
<body>

<div class="wrapper">

    <header>
        <ul class="menu">
            <li><img class="logo" src="Images/Logo.png" alt=""></li>
            <li><a href="main.html">Главная</a></li>
            <li><a href="catalog.html">Каталог</a></li>
            <li><a href="about.html">О нас</a></li>
        </ul>
    </header>

    <div class="container">

        <h1>Каталог скинов</h1>
        <h2><strong>Выберайте скины на свой вкус</strong></h2>

        <div class="catalog">
            <img src="Images/Pudge01.jpg">
            <p class="catalog_name">Feast of Abscession</p>
            <p class="catalog_des">Аркана на Pudge</p>
            <p class="catalog_des">Цена 1799 ₽</p>
            <a class="buy_a" href="FeastofAbscession.html">Подробнее</a>
        </div>

        <div class="catalog">
            <img src="Images/ShadowFiend01.jpg">
            <p class="catalog_name">Demon Eater</h1>
            <p class="catalog_des">Аркана на Shadow Fiend</p>
            <p class="catalog_des">Цена 1699 ₽</p>
            <a class="buy_a" href="">Подробнее</a>
        </div>

        <div class="catalog">
            <img src="Images/Teches01.jpg">
            <p class="catalog_name">Swine of the Sunken Galley</p>
            <p class="catalog_des">Аркана на Teches</p>
            <p class="catalog_des">Цена 1599 ₽</p>
            <a class="buy_a" href="">Подробнее</a>
        </div>

    </div>

    <footer>
        <ul class="menu">
            <li><img class="logo" src="Images/Logo.png" alt=""></li>
            <li>Поддержка pnimos@mail.com</li>
    </footer>

</div>

</body>
</html>